div.box{
	background-color: #09CB12;
	border: 6px  dotted black;
	border-radius: 175px;
	color: #00000;
	height:202px;
	font-size: 5em;
	line-height: 6px;
	margin: 200px auto;
	text-align: center;
	transition: all 0.5s;
	width: 202px;
}
div.box:hover {
	background-color: #E96D0C;
	border: 12px solid #E9130C;
	transform: scale(1.5) rotate(360deg)
}